/*colour scheme for images and wesite: https://colorhunt.co/palette/a59d84c1baa1d7d3bfecebde*/
:root {
  --background: white;
  --text: #A59D84;
  --boxes: #ECEBDE;
}

body{
  background-color: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  border: solid 3px black;
  padding: 5px;
}

p, img{
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

p{
  text-align: center;
}

.main, .header, .swipe, .instruction, .intro, .rotate, .zoom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swipe, .rotate, .zoom{
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: var(--boxes);
  width: 80%;
  margin-bottom: 1em;
}

.intro{
  padding-bottom: 30px;
  gap: 5px;
}

.instruction{
  gap: 2px;
}

.rotateIcon{
  transform: rotate(90deg);
  margin-top: 5px;
}

.zoomImgBorder{
  width: 300px;
  height: 300px;
  background-color: var(--boxes);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomImg{
  width: 20px;
  height: auto;
}

