/*colour scheme for images and wesite: https://colorhunt.co/palette/a59d84c1baa1d7d3bfecebde*/
:root {
  --background: white;
  --text: #A59D84;
  --boxes: #ECEBDE;
}

html,
body,
#root {
  height: 100%;
}

body{
  background-color: var(--background);
  color: var(--text);
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 370px;
  height: 100%;
  padding: 5px;
  margin: 0;
}

p, img{
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}

p{
  text-align: center;
}

button, .button{
  background-color: var(--boxes);
  color: var(--text);
  border: 1px solid var(--text);
}

.button.recording{
  border: 2px solid red;
}
.main{
  height: 100%;
}

.main, .header, .swipe, .instruction, .intro, .rotate, .zoom{
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.swipe, .rotate, .zoom{
  padding: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: var(--boxes);
  width: 90%;
  margin-bottom: 1em;
}

.instruction{
  gap: 1em;
}

.rotateIcon{
  transform: rotate(90deg);
  margin-top: 5px;
}

.zoomImgBorder{
  width: 300px;
  height: 300px;
  background-color: var(--boxes);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomImg{
  width: 20px;
  height: auto;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
  width: 100%;
}

.nav p{
  border: solid 1px var(--text);
  background-color: var(--boxes);
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
}

.nav p.active{
  background-color: var(--text);
  color: var(--background);
  font-weight: bold;
}

.imageContainer {
    position: relative;
    width: 300px;
    /*display: inline-block;*/
    overflow: hidden;
}

.sliderTrack {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.swipeImg {
  width: 300px;  
  height: auto;
  flex-shrink: 0;
  display: block;
}

.star{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.Map {
  height: 400px;
  width: 100%;
  border: 2px solid var(--text);
}

